a.xref:after {
  content: " (Seite " target-counter(attr(href, url), page) ")";
}

div.cozum_link_cok a.xref {
  content: "Die Lösungen befinden sich auf Seite " target-counter(attr(href, url), page) ".";
  font-style:italic;
}

div.cozum_link_cok a.xref:after {
  content: normal;
}

div.cozum_link_tek a.xref {
  content: "Die Lösung ist auf Seite " target-counter(attr(href, url), page) ".";
  font-style:italic;
}

div.cozum_link_tek a.xref:after {
  content: normal;
}

div.cozum_link_cok, div.cozum_link_tek {
  padding-top: .1em;
  page-break-before: avoid;
}

body
{
  counter-reset: h4 -2;
}
