<div class="title">

<p class="halftitle">
Softwareentwicklung in D
</p>

<br/>

<p>
Erste Ausgabe
</p>

<br/>

<p>
Ali Çehreli
</p>

<br/>

<div class="editors">
<p>
Übersetzt ins Deutsche von Dominik Süß
</p>
</div>

</div>
